################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/UTILS-90bdccbe/UTILS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/TFL_HT-a9f1cf8e/TFL_HT.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/SDKDEFINES-aa143712/SDKDEFINES.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_WINDRV_FUNCTIONS-6d1a2df4/RL_WINDRV_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_TAGAME_FUNCTIONS-31e0d4a9/RL_TAGAME_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_PROJECTX_FUNCTIONS-8afe2b29/RL_PROJECTX_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_ONLINESUBSYSTEMSTEAMWORKS_FUNCTIONS-f28935e/RL_ONLINESUBSYSTEMSTEAMWORKS_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_IPDRV_FUNCTIONS-c2a2e11f/RL_IPDRV_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_GFXUI_FUNCTIONS-6715463d/RL_GFXUI_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_GAMEFRAMEWORK_FUNCTIONS-8d3e562/RL_GAMEFRAMEWORK_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_ENGINE_FUNCTIONS-d9b08430/RL_ENGINE_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_CORE_FUNCTIONS-b3b8df03/RL_CORE_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_BASIC-4f66e7e4/RL_BASIC.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/RL_AKAUDIO_FUNCTIONS-563195f8/RL_AKAUDIO_FUNCTIONS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/PATTERNFINDER-b798c703/PATTERNFINDER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/PACKETSNIFFER-9c9747f7/PACKETSNIFFER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/PACKETSNIFFER-1f891712/PACKETSNIFFER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/OBJECTINITIALIZER-1591f58d/OBJECTINITIALIZER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/HOOKMANAGER-752cfeb9/HOOKMANAGER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/HOOKFUNCTION-edffd69/HOOKFUNCTION.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/HOOKFUNCTION-46d4f104/HOOKFUNCTION.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/EVENTMANGER-8e49d6a9/EVENTMANGER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/EVENTMANAGER-e6eaa1ef/EVENTMANAGER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/DLLMAIN-dbb5c92e/DLLMAIN.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/DETOURS-529716f8/DETOURS.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/CORE-ebc6a236/CORE.ipch
/.vs/RLModding/v15/Browse.VC.opendb
/.vs/RLModding/v15/Browse.VC.db
/.vs/RLModding/v15/.suo
/Release/RLModding.pdb
/Release/RLModding.ipdb
/Release/RLModding.iobj
/Release/RLModding.dll
/Release/RLModding.pdb
/Release/RLModding.ipdb
/Release/RLModding.iobj
/Release/RLModding.dll
/Release/RLModding.pdb
/Release/RLModding.ipdb
/Release/RLModding.iobj
/Release/RLModding.dll
/.vs/RLModding/v15/ipch/AutoPCH/_SFI_C8225D8E-7CD5-4AAD-84C1-77F05E7B35CD_-e8bd865b/VCTMP25664_809008.EVENT.0E97B927-43245f13/VCTMP25664_809008.EVENT.0E97B927.ipch
/.vs/RLModding/v15/ipch/AutoPCH/_SFI_C8225D8E-7CD5-4AAD-84C1-77F05E7B35CD_-e8bd865b/VCTMP25664_707194.EVENTMANAGER.244C14DB-74e62ed0/VCTMP25664_707194.EVENTMANAGER.244C14DB.ipch
/.vs/RLModding/v15/ipch/AutoPCH/_SFI_C8225D8E-7CD5-4AAD-84C1-77F05E7B35CD_-e8bd865b/VCTMP25664_399878.EVENTMANAGER.244C14DB-751f8f20/VCTMP25664_399878.EVENTMANAGER.244C14DB.ipch
/.vs/RLModding/v15/ipch/AutoPCH/_SFI_C8225D8E-7CD5-4AAD-84C1-77F05E7B35CD_-e8bd865b/VCTMP25664_364029.EVENT.69A49EF8-ce1bcee9/VCTMP25664_364029.EVENT.69A49EF8.ipch
/.vs/RLModding/v15/ipch/AutoPCH/_SFI_C8225D8E-7CD5-4AAD-84C1-77F05E7B35CD_-e8bd865b/VCTMP25664_117368.EVENTMANAGER.244C14DB-fb5555ae/VCTMP25664_117368.EVENTMANAGER.244C14DB.ipch
/.vs/RLModding/v15/ipch/AutoPCH/_SFI_C8225D8E-7CD5-4AAD-84C1-77F05E7B35CD_-e8bd865b/VCTMP25664_101929.EVENT.0E97B927-be70c3d0/VCTMP25664_101929.EVENT.0E97B927.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/WRAPPER-428c5013/WRAPPER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/MODBASE-e410e7e8/MODBASE.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/MODBASE-b628eb4d/MODBASE.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/HEADER-5f9c77fb/HEADER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/FUNCTIONHANDLER-13d82531/FUNCTIONHANDLER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/EVENTMANAGER-4c1acf0a/EVENTMANAGER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/EVENTHANDLER-a7d66152/EVENTHANDLER.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/EVENTCORE-f465d0f8/EVENTCORE.ipch
/.vs/RLModding/v15/ipch/AutoPCH/RLMODDING-4170d2f6/EVENT-b849e2d4/EVENT.ipch
